<button type="button" name="button"(click)='getInfoFromService1()' > Student1 </button>
<ul class="list-group">
    <li *ngFor = "let information of Studentinfo1" class ="list-group-info">
        {{ information}}
    
    </li>
</ul>

<button type="button" name="button"(click)='getInfoFromService2()' > Student2 </button>
<ul class="list-group">
    <li *ngFor = "let information of Studentinfo2" class ="list-group-info">
        {{ information}}
    
    </li>
</ul>

<button type="button" name="button"(click)='getInfoFromService3()' > Student3 </button>
<ul class="list-group">
    <li *ngFor = "let information of Studentinfo3" class ="list-group-info">
        {{ information}}
    
    </li>
</ul>